doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href=require('Img/favicon.png'))
    link(rel="stylesheet" href=require("Src/style.scss"))
    script(src=require("Src/index.ts"), defer)
    script(src=require("product.ts"), defer)
    title RSS Online Shop | Product
    include Base/mixins.pug

  body.os-body.os-body-product.theme-light

    include ShopHeader/shop-header.pug

    main.os-main.os-main-product

      //- .product-id - [.product-12] id for product. Each product has this class with its own id instead of a number
      section.product-section.product-id

        .container

          .page-header
            h1.os-h1
            .os-bread-crambs
              a(href="#" ) home
              span  /
              a(href="#" )  2022
              span  /
              a(href="#" )  Product Name

          .product-body

            .column-left.product-gallery

              .product-gallery__items

                .product-gallery-item
                  img.product-gallery-item-img.product-gallery-item-img-1
                  //- (src=require("Img/products/1-1.png"))

                .product-gallery-item
                  img.product-gallery-item-img.product-gallery-item-img-2
                  //- (src=require("Img/products/1-1.png"))

                .product-gallery-item
                  img.product-gallery-item-img.product-gallery-item-img-3
                  //- (src=require("Img/products/1-1.png"))


              .product-gallery__cuurent-image
                img.product-gallery__cuurent-image-img
                //- +imgr("Img/products/1-1.png", "product-name", 700, [240, 320, 480, 700], "product-gallery__cuurent-image-img img")


            .column-right.product-info
              p.product-info__item.product-year Year: #[span.product-year-data]
              p.product-info__item.product-category Category: #[span.product-category-data]
              p.product-info__item.product-instock Availability: #[span.product-in-stock-data] #[span.product-in-stock-units pc.]
              p.product-info__item.product-description
              p.product-info__item.product-price #[span.product-currency €] #[span.product-currency-data]
              include Buttons/buy-now-btn.pug
              include Buttons/add-to-cart-btn.pug




    include Footer/footer.pug