.products-grid

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description description
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description description
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description description
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description description
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description description
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We make things from wool of the sheep living on our farm, we combine traditions and new
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

.products-list

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We make things from wool of the sheep living on our farm, we combine traditions and new
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We living on our farm, we combine traditions and new
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232

  .article
    .article__img
      img.product-featured-img(src=require("Img/products/1-1.png"))
    p.article__header Product
    p.article__description We are a small farm from Norway. We keep sheep and create warm living on our farm, we combine traditions and new
    button.article__btn.add-to-cart-btn(onclick="#") Add to cart
    p.article__price #[span.price-currency €] 232