.products-grid

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We make things from wool of the sheep living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//- .products-list

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We make things from wool of the sheep living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm things made with love. We living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232

//-   .article
//-     .article__img
//-       img.product-featured-img(src=require("Img/products/1-1.png"))
//-     p.article__header Product
//-     p.article__description We are a small farm from Norway. We keep sheep and create warm living on our farm, we combine traditions and new
//-     include Buttons/add-to-cart-btn.pug
//-     p.article__price #[span.price-currency €] 232